/* Header Styles */
.header {
	width:100%;
	background-color:$headerBg;
	text-align:center;
	.slogan {
		font-size:2em;
		padding:0.75em 0;
		max-width:16em;
		margin:0 auto;
		text-align: center;
	}
}