/* Posts Page Styles */
.post {
	line-height:1.6em;
}
.slogan {
	color:$titleColor;
}
.meta-post-date {
	font-weight:400;
}
aside {
	padding:0.5em;
	border-left:0.5em solid $titleColor;
}
.post ul li {
	margin-bottom:1em;
}
.post ul li.snippet {
	margin-bottom:1.3em;
}
li.snippet > code {
	color:$headerBg;
	border-bottom:1px solid $titleColor;
	padding:0.2em;
}
